# SPDX-FileCopyrightText: 2025 The Wallet Ecosystem Authors
#
# SPDX-License-Identifier: CC0-1.0

**/*.md
**/*.yml
**/*.yaml
.rumdl-cache
megalinter-reports
target
development/format/eclipse-java-google-style.xml
development/lint/google_checks.xml
development/sast/pmd_default_java.xml

# It is imperative to preserve the formatting of the signed files
# in order to have a successful signature verification
config/trust-source
